.bg-brown {
  background-color: #854D27;
}

.bg-orange {
  background-color: #DD7230;
}

.bg-yellow {
  background-color: #F4C95D;
}

.bg-cream {
  background-color: #E7E393;
}

.bg-black {
  background-color: #04030F;
}

.bg-gray {
  background-color: #6C757D;
}

.bg-white {
  background-color: #FFFDFA;
}

.bg-red {
  background-color: #FF6966;
}

.text-brown {
  color: #854D27;
}

.text-orange {
  color: #DD7230;
}

.text-yellow {
  color: #F4C95D;
}

.text-cream {
  color: #E7E393;
}

.text-black {
  color: #04030F;
}

.text-gray {
  color: #6C757D;
}

.text-white {
  color: #FFFDFA;
}

.text-red {
  color: #FF6966;
}

.border-brown {
  border: 1px solid #854D27;
}

.border-orange {
  border: 1px solid #DD7230;
}

.border-yellow {
  border: 1px solid #F4C95D;
}

.border-cream {
  border: 1px solid #E7E393;
}

.border-black {
  border: 1px solid #04030F;
}

.border-gray {
  border: 1px solid #6C757D;
}

.border-white {
  border: 1px solid #FFFDFA;
}

.border-red {
  border: 1px solid #FF6966;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E7E393;
  height: auto;
  scrollbar-color: #DD7230 #E7E393;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #E7E393;
}

body::-webkit-scrollbar-thumb {
  background-color: #DD7230;
  border-radius: 5px;
}

#main {
  min-height: 100vh;
}

.hamburger {
  display: block;
  background-color: #6C757D;
  width: 22px;
  height: 3px;
  margin: 4px 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.review-text {
  font-size: 25px;
  font-family: "Playfair Display", serif;
}

.bg-color {
  background-color: #F4C95D;
}

#footer {
  margin-top: auto;
}

.logo {
  width: 100%;
  height: auto;
  padding: 20px 50px;
}

#resultDiv ul {
  list-style: none;
}

#fridges {
  height: auto;
}

#fridges .row {
  border-radius: 20px;
}

#fridges .row .FridgeList {
  border-radius: 20px;
}

#fridges .container-lg .fridges {
  background-color: #FFFDFA;
  border-radius: 20px;
  height: auto;
  margin-top: 20px;
}

#fridges .container-lg .fridges .fridge-list {
  list-style: none;
  padding: 20px 0;
}

#fridges .container-lg .fridges .fridge-list .fridge-item {
  float: left;
  margin-left: 40px;
  width: 100px;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 20px;
}

#fridges .container-lg .fridges .fridge-list .add-fridge {
  padding: 5px 0;
  width: 100px;
  cursor: pointer;
  margin-right: 40px;
  margin-left: auto;
  border-radius: 20px;
}

#fridges .container-lg .fridges .fridge-list .add-fridge a {
  color: #04030F;
  text-decoration: none;
}

#fridges .container-lg .fridges .fridge-list .add-fridge a:hover {
  color: #FFFDFA;
}

#fridges .container-lg .fridges .fridge-list .add-fridge:hover {
  color: #FFFDFA;
}

#fridges .container-lg .fridges .fridge-list .fridge-item:hover {
  background-color: #DD7230;
  color: #FFFDFA;
}

#fridges .container-lg .groceries {
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
}

#fridges .container-lg .groceries .menu {
  height: 80px;
}

#fridges .container-lg .groceries .menu ul {
  list-style: none;
}

#fridges .container-lg .groceries .menu ul li {
  margin: 20px 20px;
  border-radius: 20px;
  padding: 5px 20px;
  float: left;
  cursor: pointer;
}

#fridges .container-lg .groceries .menu ul #add {
  background-color: #DD7230;
  color: #FFFDFA;
}

#fridges .container-lg .groceries .menu ul #add:hover {
  color: #04030F;
}

#fridges .container-lg .groceries .menu ul #add:focus {
  color: #04030F;
}

#fridges .container-lg .groceries .menu ul #show {
  background-color: #FF6966;
}

#fridges .container-lg .groceries .menu ul #show:hover {
  color: #FFFDFA;
}

#fridges .container-lg .groceries .menu ul #show:focus {
  color: #FFFDFA;
}

#fridges .container-lg .groceries .items {
  width: 800px;
  height: auto;
  padding: 10px 0;
}

#fridges .container-lg .groceries .items .item {
  width: 150px;
  height: 220px;
  padding: 10px;
  margin: 20px 20px;
  border-radius: 20px;
}

@media screen and (max-width: 412px) {
  #fridges .container-lg .groceries .items .item {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 372px) {
  #fridges .container-lg .groceries .items .item {
    margin: 20px 5px;
  }
}

#fridges .container-lg .groceries .items .item img {
  border-radius: 20px;
}

#amount {
  padding: 16px 12px;
  border: 1px solid #ced4da;
}

#roomateList li {
  width: 300px;
}

#userInfo {
  width: 300px;
}

#show-list p {
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
}

#show-list p:hover {
  background-color: #eee;
}

.ingredients li {
  list-style: disc !important;
}
/*# sourceMappingURL=main.css.map */