$brown: #854D27;
$orange: #DD7230;
$yellow: #F4C95D;
$cream: #E7E393;
$black: #04030F;
$gray: #6C757D;
$white: #FFFDFA;
$red: #FF6966;
$border-color: #ced4da;

.bg-brown {
  background-color: $brown;
}
.bg-orange {
  background-color: $orange;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-cream {
  background-color: $cream;
}
.bg-black {
  background-color: $black;
}
.bg-gray {
  background-color: $gray;
}
.bg-white {
  background-color: $white;
}
.bg-red {
  background-color: $red;
}


.text-brown {
  color: $brown;
}
.text-orange {
  color: $orange;
}
.text-yellow {
  color: $yellow;
}
.text-cream {
  color: $cream;
}
.text-black {
  color: $black;
}
.text-gray {
  color: $gray;
}
.text-white {
  color: $white;
}
.text-red {
  color: $red;
}

.border-brown {
  border: 1px solid $brown;
}
.border-orange {
  border: 1px solid $orange;
}
.border-yellow {
  border: 1px solid $yellow;
}
.border-cream {
  border: 1px solid $cream;
}
.border-black {
  border: 1px solid $black;
}
.border-gray {
  border: 1px solid $gray;
}
.border-white {
  border: 1px solid $white;
}
.border-red {
  border: 1px solid $red;
}