$brown: #854D27;
$orange: #DD7230;
$yellow: #F4C95D;
$cream: #E7E393;
$black: #04030F;

.bg-brown {
  background-color: $brown;
}
.bg-orange {
  background-color: $orange;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-cream {
  background-color: $cream;
}
.bg-black {
  background-color: $black;
}


.text-brown {
  color: $brown;
}
.text-orange {
  color: $orange;
}
.text-yellow {
  color: $yellow;
}
.text-cream {
  color: $cream;
}
.text-black {
  color: $black;
}
