@import "colors";
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $cream;
    height: auto;
}
#main {
    height: auto;
}
.hamburger {
    display: block;
    background-color: #6C757D;
    width: 22px;
    height: 3px;
    margin: 4px 0;
    transition: 0.2s ease-in-out;
}
#review {
    display: flex;
    justify-content: center;
}
.bg-color {
    background-color: $yellow;
}
#footer {
    background-image: url("images/wave(1).svg");
    margin-top:auto;
}
.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
}

#resultDiv {
    ul {
        list-style: none;
    }
}