@import "colors";
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $cream;
  height: auto;
  //Mozilla scrollbar
  scrollbar-color: $orange $cream;
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: $cream;
}
body::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 5px;
}

#main {
  min-height: 100vh;
}
.hamburger {
  display: block;
  background-color: $gray;
  width: 22px;
  height: 3px;
  margin: 4px 0;
  transition: 0.2s ease-in-out;
}
.review-text {
  font-size: 25px;
  font-family: "Playfair Display", serif;
}
.bg-color {
  background-color: $yellow;
}
#footer {
  margin-top: auto;
}
.logo {
  width: 100%;
  height: auto;
  padding: 20px 50px;
}

#resultDiv {
  ul {
    list-style: none;
  }
}
#fridges {
  .row {
    border-radius: 20px;
    .FridgeList {
      border-radius: 20px;
    }
  }
  height: auto;
  .container-lg {
    .fridges {
      background-color: $white;
      border-radius: 20px;
      height: auto;
      margin-top: 20px;

      .fridge-list {
        list-style: none;
        padding: 20px 0;

        .fridge-item {
          float: left;
          margin-left: 40px;
          width: 100px;
          padding: 5px 0;
          cursor: pointer;
          border-radius: 20px;
        }
        .add-fridge {
          padding: 5px 0;
          width: 100px;
          cursor: pointer;
          margin-right: 40px;
          margin-left: auto;
          border-radius: 20px;
          a {
            color: $black;
            text-decoration: none;
          }
          a:hover {
            color: $white;
          }
        }
        .add-fridge:hover {
          color: $white;
        }
        .fridge-item:hover {
          background-color: $orange;
          color: $white;
        }
      }
    }

    .groceries {
      height: auto;
      margin-top: 20px;
      border-radius: 20px;

      .menu {
        height: 80px;
        ul {
          list-style: none;
          li {
            margin: 20px 20px;
            border-radius: 20px;
            padding: 5px 20px;
            float: left;
            cursor: pointer;
          }
          #add {
            background-color: $orange;
            color: $white;
          }
          #add:hover {
            color: $black;
          }
          #add:focus {
            color: $black;
          }
          #show {
            background-color: $red;
          }
          #show:hover {
            color: $white;
          }
          #show:focus {
            color: $white;
          }
        }
      }
      .items {
        width: 800px;
        height: auto;
        padding: 10px 0;
        .item {
          width: 150px;
          height: 220px;
          padding: 10px;
          margin: 20px 20px;
          border-radius: 20px;
          @media screen and (max-width: 412px) {
            margin: 20px 10px;
          }
          @media screen and (max-width: 372px) {
            margin: 20px 5px;
          }

          img {
            border-radius: 20px;
          }
        }
      }
    }
  }
}
#amount {
  padding: 16px 12px;
  border: 1px solid $border-color;
}

#roomateList {
  li {
    width: 300px;
  }
}
#userInfo {
  width: 300px;
}
#show-list {
  p {
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
  }
  p:hover {
    background-color: #eee;
  }
}

.ingredients {
  li {
    list-style: disc !important;
  }
}

.filters {
  border-radius: 20px !important;
  padding: 10px 15px;
}
.recipe-list {
  border-radius: 20px;
  padding: 10px 15px;
  min-height: 80vh;
}
.recipeSearch {
  border-radius: 20px !important;
  padding: 10px 15px;
}
.accordion-button:not(.collapsed) {
  color: $orange;
}
.recipeCard {
  height: 200px;
  background-color: $gray;
}
